@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: 'Poppins', sans-serif;
    
}
.main_wrapper{
    width: 100%;
    background-color: #ffffff;
    
    
    
}

#header_bg{
    background-image: url(img/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
   
    
}

#header_bg .header_article h1{
    font-weight: 700;
    color: #FFFFFF;
    font-size: 70px;
    text-align: center;
    padding-top:120px;
    text-shadow: 5px 5px #000;
}
#header_bg .header_article p{
    font-size: 20px;
    color: rgb(231 211 211);
    text-align: center;
    

}
#header_bg .donate_button{
    margin-left: 580px;
    margin-top: 20px;
}
#header_bg .donate_button a{
    text-align: center;
    text-decoration: none;
    display: block;
    overflow: hidden;
    border: 1px solid #f7f7f7;
   
    padding: 10px 10px;
    font-size: 24px;
    border-radius: 24px;
    color: #fff;
    background: #FF5959;
    width: 180px;
}
#header_bg .donate_button a:hover{
    color: #000;
    background: #fd0505;
    border: 1px solid #eeff02;
}

.main_content{
    width: 960px;
    margin: 0 auto;
    
}
section{
    
}
.donate_today{
    padding-top: 20px;
}
.section1_article{
    text-align: center;
}
.section1_article h2{
    font-weight: 700;
    font-size: 50px;
    color: #000;
}
.section1_article p{
    font-size: 16px;
    color: #707070;
}
.donate_today .donate_list_item{
    margin-top: 20px;
    margin-bottom: 30px;
}
.donate_today .donate_list_item ol{
    overflow: hidden;
}
.donate_today .donate_list_item ol li{
    list-style-type: none;
    float: left;
    width: 180px;
    background: #FAFAFA;
    margin-right: 10px;
}
.donate_today .donate_list_item ol li a{
    text-decoration: none;
    padding: 40px;
    display: block;
    color: #707070;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.donate_today .donate_list_item ol li a:hover{
    color: #FF5959;
    background: #FFEEEE;
    border: 2px solid #FF5959;
}
.donate_today .donate_list_item ol li a.active{
    color: #FF5959;
    background: #FFEEEE;
    border: 2px solid #FF5959;
}
.donate_today .donate_bottom_article{
    margin-bottom: 10px;
    border-bottom: 1px solid #DADADA;
}
.donate_today .donate_bottom_article p{
    text-align: center;
    padding-bottom: 10px;
    color: #C0C0C0;
    font-size: 20px;
}
.donate_today .donate_button{
    margin-left: 380px;
    margin-top: 20px;
}
.donate_today .donate_button a{
    text-align: center;
    text-decoration: none;
    display: block;
    overflow: hidden;
    border: 1px solid #f7f7f7;
   
    padding: 10px 10px;
    font-size: 24px;
    border-radius: 30px;
    color: #fff;
    background: #FF5959;
    width: 180px;
}
.donate_today .donate_button a:hover{
    color: #000;
    background: #fd0505;
    border: 2px solid #eeff02;
}
.our_donate_plan .our_donate_article{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.our_donate_plan .our_donate_article h2{
    font-weight: 700;
    font-size: 50px;
    color: #000;
}
.our_donate_plan .our_donate_article p{
    font-size: 16px;
    color: #707070;
}
.donate_container{
    margin-bottom: 30px;
    overflow: hidden;
    
}
.donate_container .single_clm{
    text-align: justify;
    width: 310px;
    height: 450px;
    float: left;
    margin-right: 10px;
   
    padding: 70px 30px;
}
.donate_container .single_clm1{
    background: #EDF5F6;
}
.donate_container .single_clm2{
    background: #FFEEEE;
}
.donate_container .single_clm3{
    background: #FFF4D6;
}

.donate_container .single_clm img{
    
    margin-bottom: 20px;
}
.donate_container .single_clm h2{
    font-weight: bold;
    font-size: 22px;
    color: #121212;
    margin-bottom: 20px;

}

.donate_container .single_clm p{
    font-size: 16px;
    color: #848586;
}
.live_news_content{
    display: flex;
    
}
.live_news_content .news_article{
    width: 50%;
    text-align: justify;
    
}
.live_news_content .news_article h2{
    font-size: 30px;
    font-weight: bold;
    color: #121212;
    margin-right: 60px;
    margin-bottom: 10px;
}
.live_news_content .news_article p{
    color: #A4A4A4;
    font-size: 16px;
    margin-right: 60px;
}
.contribute_butto{
    background: linear-gradient(#FF5959,#aa4f4f,#A94E4E);
    width: 200px;
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
}
.contribute_butto a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;

}



.live_news_content .news_img img{
    width: 470px;
    height: 100%;
    border-radius: 20px;
}
.live_news_content .news_img{
    width: 50%;
}

.help_content{
    display: flex;
    margin-top: 40px;
    margin-bottom: 100px;
}
.help_content .help_news_img{
    width: 50%;
} 
.help_content .help_news_img img{
    width: 470px;
    height: 100%;
    border-radius: 20px;
}
.help_content .help_news_article{
    width: 50%;
    text-align: justify;
}

.help_content .help_news_article h2{
    font-size: 30px;
    font-weight: bold;
    color: #121212;
    margin-left: 60px;
    margin-bottom: 10px;
}
.help_content .help_news_article p{
    color: #A4A4A4;
    font-size: 16px;
    margin-left: 60px;
}
.contribute2_butto{
    background: linear-gradient(#FF5959,#aa4f4f,#A94E4E);
    width: 200px;
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 60px;
}
.contribute2_butto a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;

}
.update_article{
    text-align: center;
    margin-bottom: 40px;
}
.update_article h2{
    font-weight: 700;
    font-size: 50px;
    color: #000;
}
.update_article p{
    font-size: 16px;
    color: #707070;
}

#footer{
    background: #0B0D17;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    
}
#footer h2{
    color: #FF5959;
    font-weight: bold;
    font-size: 25px;
    
}
#footer p{
    color: #fff;
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
#form_details{
    width: 100%;
    border: 1px solid #FF5959;
    padding: 20px;
    background: #FFF4D6;
    overflow: hidden;
    display: block;

}
input, select, textarea, label,span{
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    display: block;
    border-radius: 5px;

}
label{
    border: none;
}
input{
    margin-bottom: 10px;
}
textarea{
    resize: none;
}
input[type="submit"] {
    cursor: pointer;

}
span{
    border: none;
}


